<div class="relative">
<div class="fixed top-0 left-0 right-0" style="background-color: white;"  >
{{>header}}
</div></div>
{{>post}}

<div class="relative">
<div class="fixed bottom-0 left-0 right-0 h-10"  style="background-color: black;">
{{>mainbar}}
</div></div>